.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-radius: 10px;
    width: 300px;
    border: 1px solid rgb(229, 231, 235);
    align-items: center;
    height: 400px;
}