---
title: "Manager";
import Layout from "@/layouts/Layout.astro";
import '@/styles/tables_section_mq.css';
import { Icon } from "astro-icon/components";

import Manager_section_classes from "@/sections/Manager_section/Manager_section_classes";
import Main from "@/components/Main.astro";

//SERVICE CHECK//////////////////////////////////////////
import {servicecheck} from "@/services/server/fetching/fetch";
if(!await servicecheck(Astro.clientAddress)) return Astro.redirect("/not_connected");
//SERVICE CHECK//////////////////////////////////////////

//SESSION HANDLER////////////////////////////////////////
import type {sessionInfoState} from "@/models/types"; // prettier-ignore
import { sessionHandling } from "@/services/server/logic/handlers/sessionhandler.astro"; // prettier-ignore
const sessionInfoState = await sessionHandling(Astro.request, Astro.cookies); // prettier-ignore
if (sessionInfoState.sessionState === 1 || sessionInfoState.sessionState === 0) return Astro.redirect("/registro"); // prettier-ignore
// if (!sessionInfoState.sessionInfo.profile.active) return Astro.redirect("/403"); // prettier-ignore
//SESSION HANDLER////////////////////////////////////////
---

<Layout title={"Docencia"}>
  <Main class="w-full h-full flex flex-col justify-items-center pt-16">
    <h1 class="main-text-promoTitle">Gestor de docencia</h1>
      <div transition:animate="slide" class="relative">
        <a class="fixed left-8 top-1/2 z-10" href="./citas" transition:animate="none"><Icon name="bxs:left-arrow" size={32} class="mx-3" /></a>
        <div class="top-0 z-0 table-mq"><Manager_section_classes transition:animate={"slide"} sessionInfo={sessionInfoState} client:load /></div>
        <a class="fixed right-8 top-1/2 z-10" href="./perfiles" transition:animate="none"><Icon name="bxs:right-arrow" size={32} class="mx-3" /></a>
    </div>
  </Main >
</Layout>

