---
title: "Página no encontrada";
import Layout from "@/layouts/Layout.astro";

import Container_card from "@/sections/Container_card.astro";
import Material_mail_sending_form from "@/components/Material_mail_sending_form/Material_mail_sending_form";
import ProfileFotoSrc from "@/services/client/utils/ProfileFotoSrc.svelte";

//SERVICE CHECK//////////////////////////////////////////
import {servicecheck} from "@/services/server/fetching/fetch";
if(!await servicecheck()) return Astro.redirect("/not_connected");
//SERVICE CHECK//////////////////////////////////////////

//SESSION HANDLER////////////////////////////////////////
import type {sessionInfoState} from "@/models/types"; // prettier-ignore
import { sessionHandling } from "@/services/server/logic/handlers/sessionhandler.astro"; // prettier-ignore
const sessionInfoState = await sessionHandling(Astro.request, Astro.cookies); // prettier-ignore
if (sessionInfoState.sessionState === 1 || sessionInfoState.sessionState === 0) return Astro.redirect("/registro"); // prettier-ignore
//SESSION HANDLER////////////////////////////////////////

---

<Layout title={'Tienda'}>
    <Container_card>
        <p>Cursos</p>
    </Container_card>
</Layout>
