---
const { class: className, ...rest } = Astro.props;
---
<div class=`${className}` {...rest}></div>
<style>
    div {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-color: red;
    }
</style>