---
title: "P치gina no encontrada"
import Layout from "@/layouts/Layout.astro"
---
<Layout title="401">
    <h1>No autorizado para entrar en esta p치gina</h1>
    <p>Lo sentimos, la p치gina que est치s buscando no existe.</p>
</Layout>
