---
title: "Página no encontrada";
import Layout from "@/layouts/Layout.astro";
//SESSION HANDLER////////////////////////////////////////
import type {sessionInfoState} from "@/models/types"; // prettier-ignore
import { sessionFetch } from "@/services/server/logic/handlers/sessionhandler.astro";
const sessionInfoState = await sessionFetch(Astro.request) as sessionInfoState;
console.log(sessionInfoState);
//SESSION HANDLER////////////////////////////////////////

const title: string =sessionInfoState.sessionState === 0 ? "Registrate en Imagen" : "Completa tu registro"; // prettier-ignore
---

<Layout title={title}>
  {
    sessionInfoState.sessionState === 1 ? (
      <p>Necesitas completar tu registro</p>
    ) : (
      <p>Necesitas registrarte</p>
    )
  }
</Layout>
