---
title: "Página no encontrada";
import Layout from "@/layouts/Layout.astro";
import Main from "@/components/Main.astro";
import Container_card from "@/components/Container_card.astro";

---

<Layout title={'manager'}>
  <Main>
    <Container_card>
        <p>No autorizado</p>
    </Container_card>
  </Main>
</Layout>