---
title: "Página no encontrada"
import Layout from "@/layouts/Layout.astro"

import type {
  SessionState,
} from "@/consts/types";
import type { Session } from "@auth/core/types";

import {
  validateOAuth
} from "@/services/server_side_logic";

import { getSession } from "auth-astro/server";

const session: Session = await getSession(Astro.request) as Session;
const sessionState: SessionState = validateOAuth(session) ? 1 : 0;

const title: string = sessionState === 0 ? "Registrate en Imagen" : "Completa tu registro";
---
<Layout title={title}>
    { 
      sessionState === 1 
      ? <p>Necesitas completar tu registro</p> 
      : <p>Necesitas registrarte</p>
    }
</Layout>
