---
title: "No tienes permiso para acceder a esta p치gina"
import Layout from "@/layouts/Layout.astro"

---
<Layout title="403">
    <h1>P치gina no encontrada</h1>
    <p>Lo sentimos, la p치gina que est치s buscando no existe.</p>
</Layout>
