---
title: "P치gina no encontrada"
import Layout from "@/layouts/Layout.astro"
import Main from "@/components/Main.astro";
import Container_card from "@/components/Container_card.astro";
---
<Layout title="404">
    <Main>
        <Container_card>
    <h1>P치gina no encontrada</h1>
    <p>Lo sentimos, la p치gina que est치s buscando no existe.</p>
</Container_card>
</Main>
</Layout>
