---
title: "academia"
import Layout from '@/layouts/Layout.astro';

---

<Layout title='academia'>
    <astro-slot slot="header">
        <!-- Aquí puedes agregar el contenido de tu encabezado -->
    </astro-slot>
    <astro-slot slot="sidebar">
        <!-- Aquí puedes agregar el contenido de tu barra lateral -->
    </astro-slot>
    <astro-slot slot="content">
        <div>
            <!-- Aquí puedes agregar el contenido principal de tu página de peluquería -->
            <h1>Bienvenido a nuestra peluquería</h1>
            <p>¡Ofrecemos una amplia gama de servicios de peluquería para hombres y mujeres!</p>
            <!-- Agrega más contenido aquí -->
        </div>
    </astro-slot>
    <astro-slot slot="footer">
        <!-- Aquí puedes agregar el contenido de tu pie de página -->
    </astro-slot>
</Layout>