---
title: "Página no encontrada";
import Layout from "@/layouts/Layout.astro";

import Reservations_table from "@/components/AntDesign/tables/Reservations_table";

import Container_card from "@/sections/Container_card.astro";
import Material_booking_form from "@/sections/Material_booking_form/Material_booking_form";
import Refresh from "@/services/client/logic/Refresh.svelte";

import { checkRenderParameter } from "@/services/server/logic/logic";

//SESSION HANDLER////////////////////////////////////////
import type {sessionInfoState} from "@/models/types"; // prettier-ignore
import { sessionHandling } from "@/services/server/logic/handlers/sessionhandler.astro"; // prettier-ignore
const sessionInfoState = await sessionHandling(Astro.request, Astro.cookies) as sessionInfoState; // prettier-ignore
if (sessionInfoState.sessionState === 1 || sessionInfoState.sessionState === 0) return Astro.redirect("/register"); // prettier-ignore
//SESSION HANDLER////////////////////////////////////////

const MUI = checkRenderParameter(Astro.request.url);
---

<Layout title={"Reserva tu cita"}>
  <Container_card>
    <div class="w-max">
      {MUI && <Material_booking_form client_id={sessionInfoState.sessionInfo.profile.id} client:idle />}
    </div>
  </Container_card>
  <Refresh client:only="svelte" />
</Layout>
