---
title: "Mantenimiento";
import Layout from "@/layouts/Layout.astro";
import Container_card from "@/sections/Container_card.astro";
---
<Layout title={'manager'}>
  <Container_card>
    <p>Lo sentimos, el sitio se encuentra en mantenimiento</p>
  </Container_card>
</Layout>