---
title: "Mantenimiento";
import Layout from "@/layouts/Layout.astro";
import Container_card from "@/components/Container_card.astro";
import ProfileFotoSrc from "@/services/client/utils/ProfileFotoSrc.svelte";

//SERVICE CHECK//////////////////////////////////////////
import {servicecheck} from "@/services/server/fetching/fetch";
if(!await servicecheck(Astro.clientAddress)) return Astro.redirect("/not_connected");
//SERVICE CHECK//////////////////////////////////////////

---
<Layout title={'manager'}>
  <Container_card>
    <p>Lo sentimos, el sitio se encuentra en mantenimiento</p>
  </Container_card>
</Layout>