---
title: "peluquería"
import Layout from '@/layouts/Layout.astro';
import Div_image from '@/components/Div_image.astro';

import main_promo from '@/consts/main_promo.json';

---

<Layout title='peluqueria'>
        <div>
            <!-- Aquí puedes agregar el contenido principal de tu página de peluquería -->
            <h1>Bienvenido a nuestra peluquería</h1>
            <p>¡Ofrecemos una amplia gama de servicios de peluquería para hombres y mujeres!</p>
            <!-- Agrega más contenido aquí -->
        </div>
</Layout>