---
title: "peluquería"
import Layout from '@/layouts/Layout.astro';

---

<Layout title='peluqueria'>
    <astro-slot slot="content">
        <div>
            <!-- Aquí puedes agregar el contenido principal de tu página de peluquería -->
            <h1>Bienvenido a nuestra peluquería</h1>
            <p>¡Ofrecemos una amplia gama de servicios de peluquería para hombres y mujeres!</p>
            <!-- Agrega más contenido aquí -->
        </div>
    </astro-slot>
</Layout>