---
title: "Profile";
import Layout from "@/layouts/Layout.astro";
import Main from "@/components/Main.astro";
import Profile_section from "@/sections/Profile_section.astro";

import { getSession } from "auth-astro/server";

const session = await getSession(Astro.request);

console.log(session);

const profileType = "cliente";
---

<Layout title="Profile">
    <Main>
      <Profile_section session={session}>
        <h1 slot="header">Este es el encabezado</h1>
        <p>{ profileType }</p>
        <p>Este es el contenido principal</p>
        <p slot="user">usuario: { session?.user?.name }</p>
        <p slot="id">id: { session?.user?.id }</p>
        <p slot="mail">mail: { session?.user?.email }</p>
      </Profile_section>
    </Main>
</Layout>