---
title: "Profile";

import Layout from "@/layouts/Layout.astro";
import Main from "@/components/Main.astro";
import Register_section from "@/sections/Register_section.astro";

//SESSION HANDLER////////////////////////////////////////
import type {sessionInfoState} from "@/models/types"; // prettier-ignore
import { sessionHandling } from "@/services/server/logic/handlers/sessionhandler.astro"; // prettier-ignore
const sessionInfoState = await sessionHandling(Astro.request, Astro.cookies) as sessionInfoState; // prettier-ignore
if (sessionInfoState.sessionState === 2) return Astro.redirect("/profile"); // prettier-ignore
//SESSION HANDLER////////////////////////////////////////

const userName =
  sessionInfoState.sessionInfo.profile?.username ||
  sessionInfoState.sessionInfo.OAuth.user?.name ||
  "a Imagen";

const title = sessionInfoState.sessionState === 1 ? `Complete su registro ${userName}`: "Registrese";
---

<Layout title={title}>
    <Main>
        <Register_section sessionInfoState={sessionInfoState}></Register_section>
    </Main>
  </Layout>