---
title: "Reportes";

import Layout from "@/layouts/Layout.astro";
import Main from "@/components/Main.astro";
import ReportsSection from "@/sections/Reports_section/Reports_section"

//SERVICE CHECK//////////////////////////////////////////
import {servicecheck} from "@/services/server/fetching/fetch";
if(!await servicecheck(Astro.clientAddress)) return Astro.redirect("/not_connected");
//SERVICE CHECK//////////////////////////////////////////

//SESSION HANDLER////////////////////////////////////////
import type {sessionInfoState} from "@/models/types"; // prettier-ignore
import { sessionHandling } from "@/services/server/logic/handlers/sessionhandler.astro"; // prettier-ignore
const sessionInfoState = await sessionHandling(Astro.request, Astro.cookies); // prettier-ignore
// if (sessionInfoState.sessionState === 1 || sessionInfoState.sessionState === 0) return Astro.redirect("/registro"); // prettier-ignore
// if (!sessionInfoState.sessionInfo.profile.active) return Astro.redirect("/403"); // prettier-ignore
//SESSION HANDLER////////////////////////////////////////

const userName =
  sessionInfoState.sessionInfo.profile?.username ||
  sessionInfoState.sessionInfo.OAuth.user?.name ||
  "a Imagen";
---

<Layout title=`Bienvenido ${userName}`>
  <Main class="w-full h-full flex flex-col justify-items-center pt-16">
    <h1 class="text-center text-3xl font-bold pb-10">Reportes</h1>
    <ReportsSection client:load/>
  </Main>
</Layout>
