---
process.env.NODE_TLS_REJECT_UNAUTHORIZED = "0";
title: "tienda";
import Layout from "../layouts/Layout.astro"; // Import the Layout component


const response = await fetch(`${import.meta.env.VITE_WPGRAPHQL_URL}`, {
  method: "POST",
  headers: {
    "Content-Type": "application/json",
  },
  body: JSON.stringify({
    query: `
          query PageQuery {
              nodeByUri(uri: "http://tfgwpacademia.local/sample-page/") {
                  ... on Page {
                  id
                  blocks
                  }
              }
          }`,
  }), 
});

const { data } = await response.json();
console.log(data.nodeByUri);
---

<Layout title="tienda">
    <div>
      <!-- Aquí puedes agregar el contenido principal de tu página de peluquería -->
      <h1>Bienvenido a nuestra peluquería</h1>
      <p>
        ¡Ofrecemos una amplia gama de servicios de peluquería para hombres y
        mujeres!
      </p>
      <!-- Agrega más contenido aquí -->
    </div>
</Layout>
