---
// Div-href-big.astro
interface Props {
  title: string,
  href: string,
  style: string
}
const {title,href,style} = Astro.props;
---
<a href={href}>
  <div class={`header flex justify-center items-center stylized-text ${style === 'left' ? 'slideInFromLeft' : 'slideInFromRight'}`}>
    <p>{title}</p>
  </div>
</a>


<style>
  div {
    width: 200px;
    height: 200px;
    background-color: white;
    box-shadow: 0 0 5px rgba(255, 105, 180, 0.5);
    padding: 1rem;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.267);
    transition: all 0.2s ease-in-out;
    border-radius: 5px;
  }
  div:hover {
    box-shadow: 0 0 10px rgba(255, 105, 180, 0.5);
    transform: scale(1.01);
  }
  @keyframes slideInFromRight {
    0% {
      opacity: 0%;
      transform: translateX(10px);
    }
    100% {
      opacity: 100%;
      transform: translateX(0);
    }
  }

  @keyframes slideInFromLeft {
    0% {
      opacity: 0%;
      transform: translateX(-10px);
    }
    100% {
      opacity: 100%;
      transform: translateX(0);
    }
  }

  .slideInFromLeft {
    animation: slideInFromLeft 900ms ease-in-out;
  }

  .slideInFromRight {
    animation: slideInFromRight 900ms ease-in-out;
  }
</style>