---
interface Props {
  fields: string[];
}
const { fields } = Astro.props;
/* Navigation component that receives a list of fields and renders a list of links*/
---
<div>
  <p>
    <strong>Navigation</strong>
  </p>
</div>
<div>
  <nav>
    <ul>
        {fields.map((field: string) => (
          <li>
            <a href=
            {`/${
              field === 'Inicio' 
              ? '' 
              : field.toLowerCase()
            }`}>
              {field}
            </a>
          </li>
        ))}
    </ul>
  </nav>
</div>


<style>
  *{
    display: flex;
    color: red;
  }
  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100%;
  }
  ul {
    margin: 0;
    display: flex;
    list-style: none;
    padding: 0;
  }
  li {
    margin: 0 1rem;
  }
  a {
    text-decoration: none;
    color: #333;
  }
  a:hover {
    color: #0070f3;
  }
</style>