---
import Headernav from '@/components/Headernav.astro';
import { Icon } from 'astro-icon/components';
---

<header>
  <h3 class="header-text-logo">Imagen</h3>
  <!-- <Headernav fields={['Inicio','Peluqueria','Tienda','Sobre','FAQ']}/> -->
  <div class="flex">
    <a href="/profile">
      <Icon name="mdi:account" size={22} class="mx-3"/>
    </a>
    <a href="#">
      <Icon name="mdi:menu" size={22}/>
    </a>
  </div>
</header>

<style>
header {
  padding: 0 70px;
  backdrop-filter: blur(20px);
  background-color: rgba(255, 255, 255, 0.26);
  position: fixed;
  width: 100%;
  z-index: 1000;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

.header-text-logo {
      font-family: 'Julius Sans One', sans-serif;
      font-size: 140%;
}

</style>
