---
import Headernav from "@/components/Headernav.astro";
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
import { SignOut } from "auth-astro/components";

interface Props {
  session: any | null;
}
const { session } = Astro.props;
---

<header>
  <h3 class="header-text-logo">Imagen</h3>
  <Headernav fields={['Inicio','profile']}/>
  <div class="flex">
    <div class="flex">

      {session ? (
        <>
          <Image 
            class="header-image-googleThumb"
            src={session?.user?.image}
            alt="Google Profile Picture"
            width={50}
            height={50}
            quality={"low"}
            decoding={"async"}
            loading={"lazy"}
            densities={[0.2, 1, 2]}
            format="webp"
          />
          <p>Bienvenido {session?.user?.name}</p>
          {<SignOut>Logout</SignOut>}
        </>
      ) : (
        <button id="login">Login</button>
      )}

    </div>
    <a href="/profile">
      <Icon name="mdi:account" size={22} class="mx-3" />
    </a>
    <a href="#">
      <Icon name="mdi:menu" size={22} />
    </a>
  </div>
</header>

<script>
    // Sign in with Google, i used an client side import to modify the signin function
    const { signIn } = await import("auth-astro/client")
    const loginButton = document.querySelector("#login");
    if (loginButton) {
      loginButton.addEventListener("click", async () => {
        signIn("google", { callbackUrl: "/profile" });
      });
    }
</script>

<style>
  header {
    padding: 0 70px;
    backdrop-filter: blur(20px);
    background-color: rgba(255, 255, 255, 0.26);
    position: fixed;
    width: 100%;
    z-index: 1000;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
  }

  .header-text-logo {
    font-family: "Julius Sans One", sans-serif;
    font-size: 140%;
  }
</style>
