---
import Headernav from "@/components/Headernav.astro";
import Header_nav_astro_nav from "@/components/Header_nav_astro_nav.astro";
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
import { SignIn } from "auth-astro/components";
import Logout from "@/components/buttons/Logout.astro";
import type {sessionInfoState} from "@/models/types"; // prettier-ignore

interface Props {
  sessionInfoState: sessionInfoState;
}
const { sessionInfoState } = Astro.props;
---

<header>
  <h3 class="header-text-logo">Imagen</h3>
  <Headernav fields={['Inicio','perfil','manager','moodle','registro','reportes','tienda/todos','cursos','reservar','sala_virtual','blog']} />
  <!-- <Header_nav_astro_nav/> -->
  <div class="flex">
    <div class="flex">
      {sessionInfoState.sessionState != 0 ? (
        <>
          { <Image 
            class="header-image-googleThumb"
            src={sessionInfoState.sessionInfo.profilePhotoSrc}
            alt="Google Profile Picture"
            width={50}
            height={50}
            quality={"low"}
            decoding={"async"}
            loading={"lazy"}
            densities={[0.2, 1, 2]}
            format="webp"
          /> }
          <p>Bienvenido {sessionInfoState.sessionInfo.profile.name || sessionInfoState.sessionInfo.OAuth.user?.name || ""}</p>
          {<Logout><p>Cerrar sesión</p></Logout>}
        </>
      ) : (
        <SignIn provider={"google"} options={{ callbackUrl: "/perfil" }}>Iniciar sesión</SignIn>
      )}

    </div>
    <a href="/perfil" >
      <Icon name="mdi:account" size={22} class="mx-3" />
    </a>
    <a href="#">
      <Icon name="mdi:menu" size={22} />
    </a>
  </div>
</header>

<style>
  header {
    padding: 0 70px;
    backdrop-filter: blur(20px);
    background-color: rgba(255, 255, 255, 0.26);
    position: fixed;
    width: 100%;
    z-index: 1000;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
  }

  .header-text-logo {
    font-family: "Julius Sans One", sans-serif;
    font-size: 140%;
  }
</style>
