---
import Div_href_big from "@/components/Div_href_big.astro";
---

<nav class="flex w-full justify-center space-x-8 padd">
    <Div_href_big style="left" title="Academia" href="academia"/>
    <Div_href_big style="right" title="Peluquería" href="peluqueria"/>
</nav>

<style>
	nav{
		position: relative;
		top: -70px;
	}
</style>