---
import { Image } from "astro:assets";
---

<section class="border border-solid border-gray-500 w-full mt-24">
  <Image
    src="/img/profile/main_thumbnail/photo_1.jpg"
    alt="Profile photo"
    format="jpg"
    width={200}
    height={200}
    quality={"low"}
  />
  <slot name="header" />
  <main>
    <slot />
  </main>
  <section>
    <slot name="user" />
  </section>
  <section>
    <slot name="mail" />
  </section>
</section>