---
import { Image } from "astro:assets";
---

<div class="border-solid border-green-600 w-full">
    <!-- <Image src="/img/profile/main_thumbnail/photo_1.jpg" alt="Profile photo" format="jpg"/> -->
</div>