---
import type {sessionInfoState} from "@/models/types"; // prettier-ignore
import Register_form from "@/sections/Register_form/Register_form"; // prettier-ignore


interface Props {
    sessionInfoState: sessionInfoState;
}

const {sessionInfoState} = Astro.props;

---
<!-- Aqui saldría un calendario si es un cliente, y saldrán todas las asignaturas -->
<section class="main-section-bigProfileCard w-full mt-24 flex">
  <Register_form sessionInfoState={sessionInfoState} client:only="react"/>
</section>

<style>
  .section-div-profilePhoto {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 0.5rem;
  }
  .main-section-bigProfileCard {
    border: 1px solid #e2e8f0;
    border-radius: 0.5rem;
    padding: 2rem;
    max-width: 800px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
</style>