---
import Button_animated_promo from "@/components/Buttons/Button_animated_promo.astro";
---

<section class="w-full bg-current colored-bg flex justify-evenly p-10">
  <Button_animated_promo href="#" />
  <Button_animated_promo href="#" />
  <Button_animated_promo href="#" />
</section>


<style>
  .main-div-bordered {
    border: 1px solid #000;
    border-radius: 10px;
    padding: 10px;
  }

  .colored-bg {
    background-color: rgba(0, 0, 0, 0);
  }
</style>
