---
import Slider_main from "@/components/Slider/Slider_main.astro";
---

<section>
  <Slider_main />
</section>
<style>
  section {
    height: 450px;
    background-color: var(--header-bg-color);
    box-shadow: 0px 0px 30px 0px var(--header-bg-color);
  }
</style>
