---
---

<section>
  <div class="section-div-color">

  </div>
  <div class="section-div-contenido">
    
  </div>
</section>
<style>
  section {
    height: 450px;
    display: flex;
  }
  .section-div-color {
    width: 50%;
    background-color: var(--header-bg-color);
  }
  .section-div-contenido {
    width: 50%;
  }
</style>
