<section>
  <div class="section-div-color">
  </div>
  <div class="section-div-contenido relative" >
    <h1 class="header-text-promoTitle">
      Imagen <i>Estética</i>
      <br>
      <i>Practica</i> Fórmate
      <br>
      Emprende <i>Aprende</i>
    </h1>
  </div>
</section>
<style>

  h1 {
    animation: slideInFromLeft 900ms ease-in-out;
    position: relative;
  }

  h1 > i {
    animation: slideInFromRight 2000ms ease-in-out;
    position: relative;
  }

  @keyframes slideInFromRight {
    0% {
      opacity: 0%;
      left: 30px;
    }
    50% {
      opacity: 0%;
      left: 30px;
      top: -5px;
    }
    100% {
      opacity: 100%;
      left: 0;
      top: 0;
    }
  }

  @keyframes slideInFromLeft {
    0% {
      opacity: 0%;
      transform: translate(-10px, -80px);
    }
    100% {
      opacity: 100%;
      transform: translate(0, -83px);
    }
  }

  section {
    height: 100vh;
    display: flex;
  }
  
  .section-div-color {
    width: 50%;
    padding: 20px;
    background-color: var(--primary);
  }

  .section-div-contenido {
    width: 50%;
    padding: 20px;
  }

  .header-text-promoTitle {
    /* Typography */
    color: var(--header-text-color);
    text-align: left;
    /* Spacing */
    margin: 0;
    padding: 0;
    /* Positioning */
    position: relative;
    top: 50%;
    transform: translate(0%, -50%);
    text-transform: uppercase;
  }

  .header-text-promoTitle i {
    color: var(--primary);
  }
</style>
