---
import Slider_main from "@/components/Swiper/Slider_main.astro";
---

<section>
  <Slider_main client:load/>
</section>
<style>
  section {
    padding-top: 80px;
    height: 350px;
    background-color: var(--header-bg-color);
  }
</style>
