---
import { storyblokEditable } from "@storyblok/astro";

const { blok } = Astro.props
---

<section {...storyblokEditable(blok)}>
  <div class="section-div-color">
  </div>
  <div class="section-div-contenido" >
    <h1 class="header-text-promoTitle">
      Imagen <i>Estética</i>
      <br>
      <i>Aprende</i> Fórmate
      <br>
      Emprende <i>Practica</i>
    </h1>
  </div>
</section>
<style>
  section {
    height: 100vh;
    display: flex;
  }
  .section-div-color {
    width: 50%;
    padding: 20px;
    background-color: var(--primary);
  }
  .section-div-contenido {
    width: 50%;
    padding: 20px;
  }
  .header-text-promoTitle {
    /* Typography */
    color: var(--header-text-color);
    text-align: left;
    /* Spacing */
    margin: 0;
    padding: 0;
    /* Positioning */
    position: relative;
    top: 50%;
    transform: translate(0%, -50%);
    text-transform: uppercase;
}

  .header-text-promoTitle i {
    color: var(--primary);
  }
</style>
