---
import { ViewTransitions } from "astro:transitions";
import Seo from "./SEO/Seo.astro";
interface Props {
  // TypeScript interface for props
  title: string;
  slider?: boolean;
}

import Header from "@/sections/Header.astro";
import Footer from "@/sections/Footer.astro";
const { title,slider } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <Seo />
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/icons/favicon/photo_1.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body>
    <div id="App" class="relative h-screen p-2 gap-2"> <!-- grid actúa como container -->
      <Header/>
      <main class="[grid-area:main]" transition:animate="fade">
        <slot />
      </main>
      <Footer class="[grid-area:footer]"/>
    </div>
  </body>
  <style>
    //No pongo header en el grid porque no quiero que este se vea afectado por él
    #App {
        display: grid;
        grid-template-areas:
          "main"
          "footer";
        grid-template-rows: auto 100px;
        margin: 0 auto;
        padding: 0;
        width: 100%;
        max-width: 1700px;
    }
  </style>

  <style is:global>
    @font-face {
      font-family: 'Julius Sans One';
      src: url('/fonts/Julius/JuliusSansOne-Regular.ttf') format('truetype');
    }

    @font-face {
      font-family: 'Floelly';
      src: url('/fonts/Floelly/floelly.otf') format('truetype');
    }

    @font-face {
      font-family: 'Roboto';
      src: url('/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
    }

    .stylized-text {
      font-family: 'Julius Sans One', sans-serif;
      font-weight: 600;
      text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
    }

    .header-text-logo {
      font-family: 'Julius Sans One', sans-serif;
      font-size: 120%;
    }

    .header-text-promoTitle, .header-text-promoSubtitle, .header-text-promoDescription {
      font-family: 'Floelly', sans-serif;
      letter-spacing: 2px;
    }

    .header-text-promoTitle {
      font-size: 230%;
    }

    :root {
      --accent: 136, 58, 234;
      --accent-light: 224, 204, 250;
      --accent-dark: 49, 10, 101;
      --accent-gradient: linear-gradient(
          45deg,
          rgb(var(--accent)),
          rgb(var(--accent-light)) 30%,
          white 60%
      );
      --header-dark-color: #ffa4e500;
      --header-nav-color: rgba(255, 155, 227, 0.22);
      --global-black: #000000;
      --global-white: #ffffff;
      --background-light: rgba(255, 204, 240, 0.089);

      --primary: #e88eed;
      --primary-opacity: #e88eed75;
      --header-bg-color: #ffd1f2;
      --header-bg-color-dark: #ff69d4;
      --tertiary: #f4c3c2;
      --quaternary: #f3dad8;
      --quinary: #d6d9ce;
    }

    body::-webkit-scrollbar {
      //width: 12px;
      display: none;
    }

    body::-webkit-scrollbar-track {
      //box-shadow: inset 0 0 6px red;
    }

    body::-webkit-scrollbar-thumb {
      /*background-color: var(--primary);
      backdrop-filter: blur(10px);
      border-radius: 20px;*/
    }

    body {
      background-color: var(--background-light);
      font-family: 'Roboto', sans-serif;
      font-size: clamp(1rem, 100%, 2rem);
    }

    html {
      font-family: system-ui, sans-serif;
      background-size: 224px;
      scroll-behavior: smooth;
    }

    * {
      box-sizing: border-box;
    }

  </style>
</html>
