---
import { ViewTransitions } from "astro:transitions";
interface Props {
  // TypeScript interface for props
  title: string;
  slider?: boolean;
}

import Header from "@/sections/Header.astro";
import Footer from "@/sections/Footer.astro";
const { title,slider } = Astro.props;
---

<!doctype html>
<html lang="es" transition:animate={slider ? 'slide' : undefined}>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body>
    <div id="App" class="relative h-screen p-2 gap-2"> <!-- grid actúa como container -->
      <Header class="[grid-area:header]"/>
      <main class="[grid-area:main]">
        <slot />
      </main>
      <Footer class="[grid-area:footer]"/>
    </div>
  </body>
  <style>
    #App {
        display: grid;
        grid-template-areas:
          "header"
          "main"
          "footer";
        grid-template-rows: 70px auto 100px;
        margin: auto;
        padding: 0;
        width: 100%;
        max-width: 1700px;
    }
  </style>

  <style is:global>
    @font-face {
      font-family: 'Julius Sans One';
      src: url('/assets/fonts/JuliusSansOne-Regular.ttf') format('truetype');
    }

    @font-face {
      font-family: 'floelly';
      src: url('/assets/fonts/floelly.otf') format('truetype');
    }

    .stylized-text {
      font-family: 'Julius Sans One', sans-serif;
      font-weight: 600;
      text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
    }

    .header-text-promoTitle {
      color: var(--header-bg-color-dark);
      font-family: 'floelly', sans-serif;
      font-size: 100px;
    }

    .header-text-promoSubtitle {
      color: var(--header-bg-color-dark);
      font-family: 'floelly', sans-serif;
      font-size: 10px;
    }

    .header-text-promoDescription {
      color: var(--header-bg-color-dark);
      font-family: 'floelly', sans-serif;
    }

    :root {
      --accent: 136, 58, 234;
      --accent-light: 224, 204, 250;
      --accent-dark: 49, 10, 101;
      --accent-gradient: linear-gradient(
          45deg,
          rgb(var(--accent)),
          rgb(var(--accent-light)) 30%,
          white 60%
      );
      --header-dark-color: #ffa4e500;
      --header-nav-color: rgba(255, 155, 227, 0.22);
      --global-black: #000000;
      --global-white: #ffffff;
      --background-light: rgba(255, 204, 240, 0.089);

      --primary: #e88eed;
      --header-bg-color: #ffd1f2;
      --header-bg-color-dark: #ff69d4;
      --tertiary: #f4c3c2;
      --quaternary: #f3dad8;
      --quinary: #d6d9ce;
    }

    body::-webkit-scrollbar {
      width: 1em;
    }

    body::-webkit-scrollbar-track {
      box-shadow: inset 0 0 6px red;
    }

    body::-webkit-scrollbar-thumb {
      background-color: darkgrey;
      outline: 1px solid slategrey;
    }

    body {
      background-color: var(--background-light);
    }

    html {
      font-family: system-ui, sans-serif;
      background-size: 224px;
      scroll-behavior: smooth;
    }

    * {
      box-sizing: border-box;
    }

    p {
      font-size: 1.25rem;
      line-height: 1.75rem;
    }

  </style>
</html>
