---
import { ViewTransitions } from "astro:transitions";
import Header from "@/sections/Header.astro";
import Footer from "@/sections/Footer.astro";
import Seo from "./SEO/Seo.astro";

//Session handling//////////////////////////// prettier-ignore
import {sessionHandler,sessionStateCheck} from "@/controllers/logic"; // prettier-ignore
import {getSession} from "auth-astro/server"; // prettier-ignore
import type {ProfileSession,SessionState,sessionInfoState} from "@/models/types"; // prettier-ignore
let sessionInfoState: sessionInfoState = {} as sessionInfoState; // prettier-ignore
// prettier-ignore
try {
  const sessionInfo: ProfileSession = await sessionHandler(await getSession(Astro.request));
  const sessionState: SessionState = await sessionStateCheck(sessionInfo);
  sessionInfoState = { sessionState, sessionInfo };
  console.log("imprimir cookie");
  Astro.cookies.set("sessionInfoState", JSON.stringify(sessionInfoState));
  console.log(sessionInfoState);
  if ( sessionInfoState.sessionState === 1 || sessionInfoState.sessionState === 0 ) {
    return Astro.rewrite("/401");
  }
} catch (error) {
  console.error(error);
}

//End handling//////////////////////////

interface Props {
  // TypeScript interface for props
  title: string;
  slider?: boolean;
}

const { title } = Astro.props;
Astro.cookies.set("title", title);
---

<!doctype html>
<html lang="es">
  <head>
    <Seo title={title}/>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/icons/favicon/photo_1.png" />
    <meta name="generator" content={Astro.generator} />
    <ViewTransitions />
  </head>
  <body>
    <div id="App" class="relative h-screen">
      <!-- grid actúa como container -->
      <Header session={sessionInfoState.sessionInfo.OAuth} />
      <main class="[grid-area:main]" transition:animate="fade">
        <slot />
      </main>
      <Footer class="[grid-area:footer]" />
    </div>
    <style>
      //No pongo header en el grid porque no quiero que este se vea afectado por él
    #App {
        display: grid;
        grid-template-areas:
          "main"
          "footer";
        grid-template-rows: auto 100px;
        margin: 0 auto;
        padding: 0;
        width: 100%;
        max-width: 1700px;
      }
    </style>

    <style is:global>
      @font-face {
        font-family: "Julius Sans One";
        src: url("/fonts/Julius/JuliusSansOne-Regular.ttf") format("truetype");
      }

      @font-face {
        font-family: "Floelly";
        src: url("/fonts/Floelly/floelly.otf") format("truetype");
      }

      @font-face {
        font-family: "Roboto";
        src: url("/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
      }

      .stylized-text {
        font-family: "Julius Sans One", sans-serif;
        font-weight: 600;
        text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
      }

      .header-text-promoTitle,
      .header-text-promoSubtitle,
      .header-text-promoDescription {
        font-family: "Floelly", sans-serif;
        letter-spacing: 2px;
      }

      .header-text-promoTitle {
        font-size: 230%;
      }

      .main-text-promoTitle {
        font-size: 350%;
        font-weight: bold;
      }

      .header-image-googleThumb {
        width: 50px; /* Ajusta este valor según el tamaño que desees */
        height: 50px; /* Asegúrate de que este valor sea el mismo que el de width para mantener la imagen cuadrada */
        border-radius: 50%; /* Esto hace que la imagen sea redonda */
        object-fit: cover; /* Esto asegura que la imagen cubra todo el espacio, incluso si la imagen original no es cuadrada */
      }

      :root {
        --accent: 136, 58, 234;
        --accent-light: 224, 204, 250;
        --accent-dark: 49, 10, 101;
        --accent-gradient: linear-gradient(
          45deg,
          rgb(var(--accent)),
          rgb(var(--accent-light)) 30%,
          white 60%
        );
        --header-dark-color: #ffa4e500;
        --header-nav-color: rgba(255, 155, 227, 0.22);
        --global-black: #000000;
        --global-white: #ffffff;
        --background-light: rgba(255, 204, 240, 0.089);

        --color1: #290628;
        --color2: #3b0086;
        --color3: #6200b3;
        --color4: #b43e8f;
        --color5: #ea7af4;

        --color6: #d741a7;
        --color7: #3a1772;
        --color8: #5398be;
        --color9: #f2cd5d;
        --color10: #dea54b;

        --primary: #e88eed;
        --primary-opacity: #e88eed75;
        --header-bg-color: #ffd1f2;
        --header-bg-color-dark: #ff69d4;
        --tertiary: #f4c3c2;
        --quaternary: #f3dad8;
        --quinary: #d6d9ce;
      }

      body::-webkit-scrollbar {
        //width: 12px;
        display: none;
      }

      body::-webkit-scrollbar-track {
        //box-shadow: inset 0 0 6px red;
      }

      body::-webkit-scrollbar-thumb {
        /*background-color: var(--primary);
      backdrop-filter: blur(10px);
      border-radius: 20px;*/
      }

      body {
        background-color: var(--background-light);
        font-family: "Roboto", sans-serif;
        font-size: clamp(1rem, 100%, 2rem);
      }

      html {
        font-family: system-ui, sans-serif;
        background-size: 224px;
        scroll-behavior: smooth;
      }

      * {
        box-sizing: border-box;
      }
    </style>
  </body>
</html>
