---
//import Slider from './Slider_main/App';
import main_promo from '@/consts/main_promo.json';
---
<h2 class="stylized-text-header">{main_promo.promos[0].title}</h2>
<h2 class="stylized-text-header">{main_promo.promos[0].subtitle}</h2>
<h2 class="stylized-text-header">{main_promo.promos[0].description}</h2>